div.stApp.css-ffhzg2.eczokvf0{
    background-color: #D8B6A4;
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: 'comic sans ms';
    display: inline-block;
}

div.css-1oe6wy4.e1fqkh3o2{
    background-color: #2D4263;
    color: rgb(241, 234, 234);
}
